.form__list-item-title-item {
  font-family: "PT Sans";
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
