.form__list-item-form-checkbox-label {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.form__list-item-form-checkbox-label::before {
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  margin-right: 16px;
}
